/* Reset */

html, body, div, h1, h2, p, img {
	font-size:100%;
	vertical-align:baseline;
}

body{
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
}

.page{
	width: 100%;
	margin: 0 auto;
}

h1 {
font-weight: bold;
font-size: 24px;
background-color: #551A8B;
color : white;
border: 3px solid orange;
margin: auto;
width: 50%;
padding: 5px
}

h2 {
font-weight: bold;
font-size: 16px;
color : black;
}

.clear{
	clear: both;
}

.message{
	padding-top: 10px;
	margin:auto

}

.dealer-card, .player-card{
	padding-top: 10px;
}

.dealer-card .card, .player-card .card, .new-cards, .new-cards-dealer {
	margin-left: 10px;
}

.dealer-tot, .message{
		visibility: hidden;
}

.buttons{
	padding-top: 10px;
}

.btn {
	font-weight: bold;
	border-radius: 5px;
	color: white;
	background-color: #551A8B;
	cursor: pointer;
	border-style: none;
	overflow: visible;
	text-align: center;
	display: inline-block;
	height: 30px;
	width: 100px;
}

.modalq {
    display: none;
    margin: 5% auto;
		background-color: #DDD1E7;
		border: 3px solid orange;
		width : 70%
}

.modal-content{
		text-align: center;
		padding : 10px
}

.helpp{
		border-radius: 20px;
		font-weight: bold;
		color: white;
		background-color: #551A8B;
		cursor: pointer;
		border-style: none;
		overflow: visible;
		text-align: center;
		display: inline-block;
		height: 30px;
		width: 30px;
}

.btn:hover, .btn:focus, .helpp:hover, .helpp:focus  {
	background-color: #663096;
}

.btn:active, .helpp:active {
	background-color: #44146F;
}

.card {
    background-image: url(flipped.bmp);
		display: inline-block;
    height: 96px;
    width: 71px;
}

.new-cards, .new-cards-dealer{
		display: inline-block;

}

.flipped {
    background-image: url(flipped.bmp);
		display: inline-block;
    height: 96px;
    width: 71px;
}


/* cards classes */
.bact1 {
background-image: url(01.BMP);
}

.bact2 {
background-image: url(02.BMP);
}

.bact3 {
background-image: url(03.BMP);
}

.bact4 {
background-image: url(04.BMP);
}

.bact5 {
background-image: url(05.BMP);
}

.bact6 {
background-image: url(06.BMP);
}

.bact7 {
background-image: url(07.BMP);
}

.bact8 {
background-image: url(08.BMP);
}

.bact9 {
background-image: url(09.BMP);
}

.bact10 {
background-image: url(10.BMP);
}

.bact11 {
background-image: url(11.BMP);
}

.bact12 {
background-image: url(12.BMP);
}

.bact13 {
background-image: url(13.BMP);
}

.spore1 {
background-image: url(14.BMP);
}

.spore2 {
background-image: url(15.BMP);
}

.spore3 {
background-image: url(16.BMP);
}

.spore4 {
background-image: url(17.BMP);
}

.spore5 {
background-image: url(18.BMP);
}

.spore6 {
background-image: url(19.BMP);
}

.spore7 {
background-image: url(20.BMP);
}

.spore8 {
background-image: url(21.BMP);
}

.spore9 {
background-image: url(22.BMP);
}

.spore10 {
background-image: url(23.BMP);
}

.spore11 {
background-image: url(24.BMP);
}

.spore12 {
background-image: url(25.BMP);
}

.spore13 {
background-image: url(26.BMP);
}

.yeast1 {
background-image: url(27.BMP);
}

.yeast2 {
background-image: url(28.BMP);
}

.yeast3 {
background-image: url(29.BMP);
}

.yeast4 {
background-image: url(30.BMP);
}

.yeast5 {
background-image: url(31.BMP);
}

.yeast6 {
background-image: url(32.BMP);
}

.yeast7 {
background-image: url(33.BMP);
}

.yeast8 {
background-image: url(34.BMP);
}

.yeast9 {
background-image: url(35.BMP);
}

.yeast10 {
background-image: url(36.BMP);
}

.yeast11 {
background-image: url(37.BMP);
}

.yeast12 {
background-image: url(38.BMP);
}

.yeast13 {
background-image: url(39.BMP);
}

.vir1 {
background-image: url(40.BMP);
}

.vir2 {
background-image: url(41.BMP);
}

.vir3 {
background-image: url(42.BMP);
}

.vir4 {
background-image: url(43.BMP);
}

.vir5 {
background-image: url(44.BMP);
}

.vir6 {
background-image: url(45.BMP);
}

.vir7 {
background-image: url(46.BMP);
}

.vir8 {
background-image: url(47.BMP);
}

.vir9 {
background-image: url(48.BMP);
}

.vir10 {
background-image: url(49.BMP);
}

.vir11 {
background-image: url(50.BMP);
}

.vir12 {
background-image: url(51.BMP);
}

.vir13 {
background-image: url(52.BMP);
}
