/* Reset */

html, body, div, h1, h2, p, img {
	font-size:100%;
	vertical-align:baseline;
}

body{
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
}

.page{
	width: 100%;
	margin: 0 auto;
}

h1 {
font-weight: bold;
font-size: 24px;
background-color: #551A8B;
color : white;
border: 3px solid orange;
margin: auto;
width: 50%;
padding: 5px
}

h2 {
font-weight: bold;
font-size: 16px;
color : black;
}

.clear{
	clear: both;
}

.message{
	padding-top: 10px;
	margin:auto

}

.dealer-card, .player-card{
	padding-top: 10px;
}

.dealer-card .card, .player-card .card, .new-cards, .new-cards-dealer {
	margin-left: 10px;
}

.dealer-tot, .message{
		visibility: hidden;
}

.buttons{
	padding-top: 10px;
}

.btn {
	font-weight: bold;
	border-radius: 5px;
	color: white;
	background-color: #551A8B;
	cursor: pointer;
	border-style: none;
	overflow: visible;
	text-align: center;
	display: inline-block;
	height: 30px;
	width: 100px;
}

.modalq {
    display: none;
    margin: 5% auto;
		background-color: #DDD1E7;
		border: 3px solid orange;
		width : 70%
}

.modal-content{
		text-align: center;
		padding : 10px
}

.helpp{
		border-radius: 20px;
		font-weight: bold;
		color: white;
		background-color: #551A8B;
		cursor: pointer;
		border-style: none;
		overflow: visible;
		text-align: center;
		display: inline-block;
		height: 30px;
		width: 30px;
}

.btn:hover, .btn:focus, .helpp:hover, .helpp:focus  {
	background-color: #663096;
}

.btn:active, .helpp:active {
	background-color: #44146F;
}

.card {
    background-image: url(flipped.bmp);
		display: inline-block;
    height: 96px;
    width: 71px;
}

.new-cards, .new-cards-dealer{
		display: inline-block;

}

.flipped {
    background-image: url(flipped.bmp);
		display: inline-block;
    height: 96px;
    width: 71px;
}
